/* ----- Import ----- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----- Global ----- */

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ----- Variables ----- */

:root {
    --white: #fff;
    --black: #000;
    --off-white: #f9f9f9;
    --btn-add: #198754;
    --primary: #FB5607;
    --bg: #f9f9f9;
}

:root {
    --f-logo: 24px;
    --w-logo: 500;

    --f-menu: 24px;

    --f-search: 16px;

    --f-price: 24px;
    --w-price: 500;

    --f-btn: 18px;

    --w-border: 1px;
    --r-border: 3px;

    --t-transition: 0.1s;
}

/* ----- Header ----- */

.header {
    width: 100%;
    background-color: var(--primary);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
}

.nav__logo {
    color: var(--white);
    font-size: var(--f-logo);
    font-weight: var(--w-logo);
    width: 30%;
}

.navmenu {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navmenu {
        justify-content: end;
    }
}

@media (max-width: 425px) {
    .navmenu {
        justify-content: end;
    }
}

/* barra de busqueda */

.search {
    border: solid var(--w-border) var(--white);
    border-radius: var(--r-border);
    background-color: var(--white);
    height: 40px;
}

.search__input {
    border: none;
    height: 100%;
    background: none;
    margin: 0 0 0 10px;
    font-size: var(--f-search);
}

.search__input:focus {
    outline: none;
}

.search__btn {
    margin: 0 5px 0 0;
    background: none;
    border: none;
    border-radius: var(--r-border);
    color: var(--primary);
    padding: 10px;
}

.search__btn:hover {
    color: var(--white);
    background: var(--primary);
    cursor: pointer;
    transition: var(--t-transition);
}

@media (max-width: 768px) {
    .search {
        display: none;
    }
}

@media (max-width: 425px) {
    .search {
        display: none;
    }
}

/* ----- Menu ----- */

.menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu__item__link {
    color: var(--white);
    padding: 5px 10px;
    border-radius: var(--r-border);
    font-size: var(--f-menu);
}

.menu__item__link:hover {
    color: var(--primary);
    background-color: var(--white);
    transition: var(--t-transition);
}

/* ----- Main ----- */

.main {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */

.banner {
    text-align: center;
}

.banner__img {
    width: 100%;
    max-width: 1440px;
}

/* productos */

.productos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    gap: 15px 0;
    margin: 60px 0;
    max-width: 1440px;
}

@media (max-width: 1440px) {
    .productos {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 425px) {
    .productos {
        grid-template-columns: repeat(1, auto);
        justify-content: space-evenly;
    }
}

/* cart producto */

.productos__cart {
    max-width: 300px;
    border: solid var(--w-border) var(--off-white);
    /* border-radius: var(--r-border); */
    border-radius: 15px;
    background-color: var(--off-white);
    box-sizing: border-box;
    padding: 15px 0;
}

.productos__cart__img {
    width: 100%;
}

.productos__cart__text {
    padding: 0px 20px;
}

.productos__cart__text__title,
.productos__cart__text__description,
.productos__cart__text__price,
.productos__cart__text__button {
    padding: 10px 0;
}

.productos__cart__text__price {
    font-size: var(--f-price);
    font-weight: var(--w-price);
    text-align: center;
}

.productos__cart__text__button {
    text-align: center;
}

.productos__cart__text__button__add {
    border: none;
    background-color: var(--btn-add);
    color: var(--white);
    padding: 10px;
    border-radius: var(--r-border);
    font-size: var(--f-btn);
}